/* Fonts */

@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("polices/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("polices/Raleway-Bold.ttf");
}

* {
  font-family: "Raleway";
}

@media screen and (min-width: 320px) {
  .activities {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .activities ul {
    padding-inline-start: 0;
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .activities li {
    box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
    width: fit-content;
    border-radius: 25px;
    padding-bottom: 5px;
  }

  .activitie_image_large,
  .activitie_image_medium,
  .activitie_image_small {
    height: 150px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .activities h1 {
    font-size: 1.5em;
    font-family: "Raleway-Bold";
  }

  .activities h2 {
    font-size: 1em;
    margin-left: 20px;
  }

  .activities a {
    text-decoration: none;
    color: black;
    border-radius: 25px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 600px) {
  /* Tablettes */
}

@media screen and (min-width: 1024px) {
  /* Ordinateurs */
  .activitie_image_large {
    width: 350px;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .activitie_image_medium {
    width: 350px;
    height: 205px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .activitie_image_small {
    width: 350px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .activities ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 600px;
  }
}
