/* Polices */
@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("polices/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("polices/Raleway-Bold.ttf");
}

* {
  font-family: "Raleway";
}
@media screen and (min-width: 320px) {
  h3 {
    font-family: "Raleway-Thin";
    font-size: 1em;
    margin-bottom: 30px;
  }

  body {
    padding: 20px;
  }

  /* Barre de recherche */

  .search_bar {
    display: flex;
    height: 45px;
    border: solid 1px #f2f2f2;
    border-radius: 15px;
    width: fit-content;
  }

  .city_textfield {
    border: none;
    padding-left: 10px;
    font-size: 1.2em;
  }

  .location_button {
    width: 45px;
    border: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: solid 2px #f2f2f2;
    background: url("images/logo/location_logo.png") no-repeat center;
    background-color: #f2f2f2;
  }

  .search_button {
    width: 45px;
    background-color: #0065fc;
    border-radius: 12px;
    border: none;
    font-size: 0;
    background: no-repeat url("images/logo/search_logo.PNG") center;
    background-color: #0065fc;
    background-size: 18px;
  }

  /* Filtres */

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearence: none;
  }

  input[type="checkbox"] {
    border-radius: 30px;
    height: 41px;
    width: 41px;
    background: #deebff;
    border: 1px solid #deebff;
    outline: none;
    margin: 0;
    align-self: flex-end;
  }

  .eco,
  .family,
  .romantic,
  .animals {
    display: flex;
    border: solid 1px #d9d9d9;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    border-left: none;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: fit-content;
    margin-bottom: 10px;
  }

  .family:checked {
    flex-direction: row-reverse;
  }

  label {
    align-self: center;
  }

  .filters_list {
    display: flex;
    flex-wrap: wrap;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  #romantic {
    background: url("images/logo/romantic_logo.PNG") no-repeat center;
    background-color: #deebff;
  }

  #family {
    background: url("images/logo/familial_logo.PNG") no-repeat center;
    background-color: #deebff;
  }

  #eco {
    background: url("images/logo/cash_logo.PNG") no-repeat center;
    background-color: #deebff;
  }

  #animals {
    background: url("images/logo/animals_logo.png") no-repeat center;
    background-color: #deebff;
  }

  #eco:active,
  #eco:focus,
  #family:active,
  #family:focus,
  #romantic:active,
  #romantic:focus,
  #animals:active,
  #animals:focus,
  .location_button:active,
  .location_button:focus,
  .search_button:active,
  .search_button:focus,
  .city_textfield:active,
  .city_textfield:focus {
    outline: none;
  }

  .eco:hover,
  .family:hover,
  .animals:hover,
  .romantic:hover {
    flex-direction: row-reverse;
    padding-right: 0;
    padding-left: 10px;
    transition-duration: 1s;
  }

  .filters p {
    font-family: 'Raleway-Bold';
  }

  .city_info {
    display: flex;
    align-items: center;
  }

  .info_logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}
