/* Fonts */

@font-face {
    font-family: 'Raleway';
    src:url('polices/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway-Thin';
    src:url('polices/Raleway-Thin.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src:url('polices/Raleway-Bold.ttf')
}

* {
    font-family: 'Raleway';
}

body {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 320px) {
    .most_popular {
        background-color: #f2f2f2;
        padding: 20px;
    }

    .most_popular_title {
        display: flex;
    }

    .logo_most_popular {
        width: 20px;
        height: 20px;
        align-self: center;
        margin-left: auto;
    }

    .popular_room_image {
        width: 150px;
        height: 150px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .most_popular ul {
        padding-inline-start: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    .most_popular li {
        display: flex;
        width: fit-content;
        background-color: white;
        border-radius: 25px;
        padding: 5px;
        margin-bottom: 15px;
    }

    .most_popular a {
        text-decoration: none;
        color: black;
        border-radius: 25px;
        width: fit-content;
    }

    .most_popular h1 {
        font-size: 1.3em;
        font-family: 'Raleway-Bold';
    }

    .most_popular h2 {
        font-size: 1em;
        margin-left: 20px;
    }

    .most_popular h3 {
        font-size: 0.9em;
        font-family: 'Raleway-Thin';
        margin-left: 20px;
    }

    .classement_most_popular {
        width: 70px;
        height: 12px;
        margin-left: 20px;
        margin-top: 30px;
    }
}