/* Fonts */

@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("polices/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("polices/Raleway-Bold.ttf");
}

* {
  font-family: "Raleway";
}

body {
  padding: 0;
  margin: 0;
}
.most_popular {
  background-color: #f2f2f2;
  padding: 20px;
}

.most_popular_title {
  display: flex;
}

.logo_most_popular {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-left: auto;
}

.popular_room_image {
  width: 150px;
  height: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.most_popular ul {
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.most_popular li {
  display: flex;
  width: fit-content;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 15px;
}

.most_popular a {
  text-decoration: none;
  color: black;
  border-radius: 25px;
  width: fit-content;
  height: 140px;
  display: flex;
}

.most_popular h1 {
  font-size: 1.6em;
  font-family: "Raleway-Bold";
}

.most_popular h2 {
  font-size: 1em;
  margin-left: 20px;
}

.most_popular h3 {
  font-size: 0.9em;
  font-family: "Raleway-Thin";
  margin-left: 20px;
}

.classement_most_popular {
  width: 70px;
  height: 12px;
  margin-left: 20px;
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  /* Tablettes */
}

@media screen and (min-width: 1024px) {
  /* Ordinateurs */

  .most_popular {
    width: 400px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .popular_room_image {
    max-height: 140px;
  }

  .most_popular a,
  .most_popular li {
    width: auto;
    min-width: 380px;
  }

  .most_popular li:hover {
    box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
  }
}
