/* Fonts */

@font-face
{
    font-family: 'Raleway';
    src:url('polices/Raleway-Medium.ttf');
}

@font-face
{
    font-family: 'Raleway-Thin';
    src:url('polices/Raleway-Thin.ttf');
}

html
{
    min-width: 1600px;
    position: absolute;

}

*
{
    font-family: 'Raleway';
}

.content
{

}
body
{
    margin: 0;
    padding: 0;
}
h3
{
    font-family: 'Raleway-Thin';
}

/* Navigation */

nav
{
    display: flex;
    width: 100%;
    align-items: center;
}

nav ul
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    padding-right: 20px;
}

nav li
{
    list-style-type: none;
    margin: 10px;
}

nav a
{
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px;
    color: black;
    padding-top: 20px;
}

nav a:hover
{
    border-top: solid #0065FC;
}

.inscription
{
    color: #0065FC;
}

.content
{
    padding: 20px;
}

/* Search Bar */ 

.search_bar
{
    display: flex;
    height: 50px;
}

.city_textfield
{
    width: 300px;
    border-left: none;
    border-right: none;
    border: solid 2px #f2f2f2;
    font-size: 1.2em;
    padding-left: 10px;
}

.location_button
{
    width: 50px;
    border: none;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: solid 2px #F2F2F2;
}

.search_button
{
    width: 170px;
    background-color: #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    font-size: 1.2em;
    color: white;
}

.city
{
    display: flex;
    flex-direction: column;
}

/* Filters */

.filters
{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.filters p
{
    margin-right: 30px;
}

.city_info
{
    display: flex;
    margin-top: 10px;
}

.info_logo
{
    color: #0065FC;
    margin-right: 10px;
    border: solid 1px gray;
    border-radius: 15px;
    margin: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
}


input[type="checkbox"]
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearence: none;
}

input[type=checkbox] {
    border-radius: 30px;
    height: 35px;
    width: 35px;
    background: #fff;
    border: 1px solid #ccc;
}

#eco, #family, #romantic, #animals
{
    background-color: #DEEBFF;
    opacity: 0.8;
    margin: 0;
}

#eco:checked, #family:checked, #romantic:checked, #animals:checked
{
    background-color: #93FF80;
    opacity: 0.8;
    transition-duration: 1s;
}

#eco:active, #eco:focus, #family:active, #family:focus, #romantic:active, #romantic:focus, #animals:active, #animals:focus, .location_button:active, .location_button:focus, .search_button:active, .search_button:focus, .city_textfield:active, .city_textfield:focus
{
    outline: none;
}

.filters label
{
   
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 5px;
    border-left: none;
}

.eco, .family, .romantic, .animals
{
    display:flex;
    border: solid 1px #D9D9D9;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    align-content: center;
    border-left: none;
    margin-left: 10px;
    margin-right: 10px;
}

/* Rooms list */

.hebergement
{
    display: flex;
}

.hebergement_list
{
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 900px;
    min-width: 900px;
    margin-right: 50px;
    max-height: 600px;
}

.hebergement_list h1, .most_popular h1, .activities h1
{
    font-size: 1.3em;
}

.hebergement_list ul
{
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;

}

.hebergement_list li
{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    list-style-type: none;
    padding: 5px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.room_image
{
    width: 250px;
    height: 120px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergement_list h2, .most_popular h2
{
    font-size: 1.1em;
    margin-bottom: 0;
    margin-left: 10px;
}

.hebergement_list h3, .most_popular h3
{
    font-size: 0.9em;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.classement
{
    width: 50px;
    height: 9px;
    margin-top: 0;
    margin-left: 10px;
}

/* Most Popular */

.most_popular
{
    background-color: #F2F2F2;
    width: 430px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-height: 600px;
}

.most_popular ul
{
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
}

.most_popular li
{
    list-style-type: none;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    margin-bottom: 40px;

}

.popular_room_image
{
    width: 140px;
    height: 140px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.classement_most_popular
{
    width: 50px;
    height: 9px;
    margin-left: 10px;
    margin-top: 40px;
}

.most_popular_title
{
    margin-bottom: 50px;
}

/* Activities */

.activities
{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    margin-bottom: 500px;  /* A ENLEVER */
}

.activitie_image_large
{
    width: 350px;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activitie_image_medium
{
    width: 350px;
    height: 205px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activitie_image_small
{
    width: 350px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities a
{
    box-shadow: -1px 2px 27px 0px rgba(189,189,189,0.65);
    width: 350px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition-duration: 0.6s;
    height: fit-content;
    margin: 20px;
}

.activities ul
{
    display: flex;
    padding-inline-start: 0; 
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 600px;
    max-width: 1463px;
}

.activities h1
{
    font-size: 1.3em;
    margin-left: 20px;
}
.activities h2
{
    font-size: 1.1em;
    margin-left: 20px;
}

.activities a:hover
{
    box-shadow: none;
    background-color: #F2F2F2;
}
